<tr th:id="'agents-table-row-' + ${user.id}">
    <td th:text="${user.name}">name</td>
    <td th:text="${user.specialty}">specialty</td>
    <td>
        <button class="btn btn-danger" type="submit" id="button-new"
                th:hx-delete="'/api/v1/chats/' + ${chatId} + '/users/' + ${user.id}"
                hx-target="#participants"
                hx-swap="innerHTML"
                th:hx-vars="${_csrf.parameterName}+':\''+${_csrf.token}+'\''"
        >
            <i class="bi bi-person-fill-x"></i> Remove
        </button>
    </td>
</tr>