<!--<h2>Kick off a conversation with...</h2>
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">
        <i class="bi bi-search"></i>
    </span>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input type="text" name="search" class="form-control" placeholder="Username (User or agent)" aria-label="Username"
           aria-describedby="basic-addon1"
           th:hx-get="'/api/v1/chats/'+${chatId}+'/users'"
           hx-trigger="input changed delay:500ms, search"
           hx-target="#user-search-results"
           th:hx-vars="${_csrf.parameterName}+':\''+${_csrf.token}+'\''"
    >
</div>
<div id="user-search-results">

</div>
<h3>Participants</h3>
<div id="participants">
    <div th:replace="~{chats/users/users-list}"></div>
</div>-->

<button class="btn btn-primary" type="submit" id="button-new"
        th:hx-get="'/api/v1/chats/' + ${chatId}"
        hx-target="#chat-side"
        hx-swap="innerHTML"
        th:hx-vars="${_csrf.parameterName}+':\''+${_csrf.token}+'\''"
>
    <i class="bi bi-chat-text"></i> Start!
</button>