<div class="row justify-content-center">
    <div class="col-lg-8">
        <h2 class="text-center" th:text="${pageTitle}">Page title</h2>
        <p>How we might organise things here: </p>
        <ul>
            <li>Manage Backends: enable/disable and configure connections to different backends, like ollama, exllama,
                locally or remote
            </li>
            <li>Manage Models: pull, delete, manage models available at different backends...</li>
            <li>Manage Agents: be able to search them, create new ones, delete, snapshot them, ask them things...</li>
            <li>Manage Workspaces: We might want to copy snapshots of agents so that they don't know about other
                projects
            </li>
        </ul>
    </div>
</div>