<div class="row justify-content-center">
    <div class="col-lg-8">
        <h2 class="text-center" th:text="${pageTitle}">Page title</h2>
        <p>Here is the list of concepts implemented: </p>
        <ul>
            <li><a href="/chats">My own homemade ChatGPT</a></li>
            <li><a href="/cortex">Pathfinder space program</a></li>
            <li><a href="/bytecoda?q=What%20concepts%20are%20implemented">Bytecoda</a></li>
            <li><a href="/search?q=What%20are%20camagrocs">Web search tests</a></li>
            <li><a href="/helgar">Helgar</a></li>
            <li><a href="/livetranslate">Live Translate</a></li>
            <li><a href="/mira">Magic Inglish Real Academy</a></li>
            <li><a href="/mixtenser">Mixtenser</a></li>
        </ul>
    </div>
</div>